# Global options
build --cxxopt=-std=c++17
common --enable_platform_specific_config

# macOS specific options
build:macos --cxxopt=-faligned-allocation
build:macos --cxxopt=-mmacosx-version-min=10.15
build:macos --linkopt=-mmacosx-version-min=10.15
build:macos --apple_generate_dsym
build:macos --action_env=MACOSX_DEPLOYMENT_TARGET=10.15

# Linux (Debian/Ubuntu) specific options
build:linux --cxxopt=-Wall
build:linux --linkopt=-lstdc++fs
